- from = @from
- to = @to
- mid = @from.midpoint_to @to
- rider = @route.rider
#contentcenter
  #rider.confirm
    = render :partial => 'riders/image', :object => rider.image
    I ride to work from
    - form_for :route, @route, :url => {:controller => 'route', :action => 'update'} do |f|
      = f.hidden_field :id
      #from
        = render :partial => 'location', :object => from, :locals => {:direction => 'from', :f => f}
      to
      #to
        = render :partial => 'location', :object => to, :locals => {:direction => 'to', :f => f}
      = f.submit 'update', {:class => 'button'}
    %div
      As the crow flies, this is a distance of
      %span.distance
        = @route.fmt_distance
      kilometers.

    #description
      .subtle
        Please tell us a little about why you ride to work:
      - form_for rider, :id => rider, :html => { :multipart => true }, :controller => 'rider' do |f|
        = f.text_area :description
        = f.submit 'Done', {:class => 'button'}

#contentright
  .map#map_canvas{:width => 100, :height => 100}

%script{:type => "text/javascript"}
  = "function initPage() {initMap('from', 'to', #{from.ll} , #{to.ll}, #{mid.ll});}"