- from = @from
- to = @to

#rider.confirm
  I ride to work from
  %span{:id => "from"}
    = render :partial => 'location', :object => from
  to
  %span{:id => "to"}
    = render :partial => 'location', :object => to
  %span
    A straight-line distance of
    %span.distance
      = @route.fmt_distance
    kilometers.

.map#map_canvas{:width => 300, :height => 200}

%script{:type => "text/javascript"}
  = "initMap('from', 'to', #{from.ll} , #{to.ll});"
  
