= error_messages_for 'rider' 

<!--[form:rider]-->
.row
  .form_element_left
    %label{:for => "rider_name"} Login
  .form_element_right
    = text_field 'rider', 'login' 

.row
  .form_element_left
    %label{:for => "rider_description"} Description
  .form_element_right
    = text_area 'rider', 'description' 

-if @rider.image
  .row
    .rider_image
      - if @rider.image
        = image_tag @rider.image.public_filename(:tiny) 
.row
  - fields_for :image do |im|
    .form_element_left
      %label{:for => "image_filename"} Image
    .form_element_right
      = im.file_field 'uploaded_data' 


<!--[eoform:rider]-->
