.dry_scaffold
  .dry_scaffold_header
  #contentcenter
    .edit#rider
      - form_for @rider, :id => @rider, :html => { :multipart => true } do |f|
        .dry_scaffold
          %fieldset
            = render :partial => 'form'
            = submit_tag 'Update'
#contentright
  .map#map_canvas

- from = @route.from
- to = @route.to
- mid = from.midpoint_to to

%script{:type => "text/javascript"}
  = "function initPage() {initMap('from', 'to', #{from.ll} , #{to.ll}, #{mid.ll});}"