
- form_for :rider, :url => riders_path do |f|
  %fieldset
    = error_messages_for 'rider'
    %p
      %label{:for => "Name"} My name is
      %br
      = f.text_field :name

    %p
      .route
        %p and I ride to work from 
        %span{:style => "float:left"}
          %label{:for => "from_zip"} (postcode)
          %br
          = f.text_field :from_zip
        %span
          %label{:for => "to_zip"} to
          %br
          = f.text_field :to_zip
          %span .
    %p
      %label{:for => "login"} Login:
      %br
      = f.text_field :login 

    %p
      %label{ :for => "email"} Email:
      %br
      = f.text_field :email

    %p
      %label{:for => "password"} Password:
      %br
      = f.password_field :password

    %p
      = submit_tag 'Sign up'

