- form_for :rider, :url => riders_path do |f|
  #contentcenter
    %fieldset.summary
      = error_messages_for :from
      = error_messages_for :to
      = flash[:notice]
      %label{:for => "Name"} My name is
      = f.text_field :name
      .route
        and I ride to work from
        %div
          %label.subtle{:for => "from_query"} (Postcode or Address)
          = f.text_field :from_query
        %div
          %label{:for => "to_query"}
          = f.text_field :to_query
          %span .
  #contentright
    = f.text_area :description
    = submit_tag 'Continue', {:class => 'button'}