
- form_for :rider, :url => riders_path do |f|
  %fieldset
    = error_messages_for :rider
    = error_messages_for :location
    = flash[:notice]
    %p
      %label{:for => "Name"} My name is
      %br
      = f.text_field :name

    %p
      .route
        %p and I ride to work from 
        %span{:style => "float:left"}
          %label.subtle{:for => "from_query"} (Postcode or Address)
          %br
          = f.text_field :from_query
        %span
          %label{:for => "to_query"} to
          %br
          = f.text_field :to_query
          %span .
    %p
      = submit_tag 'Continue', {:class => 'button'}

