- from = @from
- to = @to
- mid = @from.midpoint_to @to
#contentcenter
  %span.summary
    .rider
      = render :partial => 'riders/image', :object => @rider.image
      = link_to @rider.login, edit_rider_path(@rider)

    .rider{:id => "from"}
      = from.full_address
      %span.subtle
        = from.precision
    to
    .rider{:id => "to"}
      = to.full_address
      %span.subtle
        = to.precision
    .description
      = @rider.description
#contentright
  .map#map_canvas

%script{:type => "text/javascript"}
  = "function initPage() {initMap('from', 'to', #{from.ll} , #{to.ll}, #{mid.ll});}"