- from = @from
- to = @to
- mid = @mid
#contentcenter
  = render :partial => 'riders/info', :object => @rider, :locals => {:from => from, :to => to, :mid => mid}

#contentright
  .map#map_canvas

%script{:type => "text/javascript"}
  = "function initPage() {initMap('from', 'to', #{from.ll} , #{to.ll}, #{mid.ll});}"