.rider
  = @from.ll
  to
  = @to.ll
.description
  = @rider.description

.div{:onclick => "initMap(#{@from.lat} , #{@from.lng}, #{@to.lat} , #{@to.lng});"}
  Show Map


.map#map_canvas{:width => 500, :height => 600}
= link_to 'Edit', :action => 'edit', :id => @rider
\|
= link_to 'Back', :action => 'index'
